.con12{
    height: 160vh;
    align-items: center;
    text-align: center;
    
}
.how-el{
    color: #157d04;
}
.con13{
    
    text-align: left;
    height: 100vh;
    display: flex;
    
    

}
.con13 .iphone{
    
    background-image: url("./1645349255iphones\ png\ \ \(1\).png");
    background-size: cover;
    width: 300px;
    height: 500px;
    box-shadow: 5px;
    margin-left: 200px;
    margin-top: 70px;

    
}
.con13 h3,p{
    margin-left: 25%;    
}
.con13 .para{
    margin-top: -20px;
}
.con13 h3{
    margin-bottom: 20px;
    margin: 20px;
}
.con13 .con131{
    margin: 90px;
    
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
   
    margin-right: 90px;
    
    width: 500px;
    height: 600px;
}

.con133{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 40px;
    margin-left: 30px;
    
}
.con133 h1{
    margin-left: 10px;
    
    width: 300px;
}
.con132{
    
    display: flex;
align-items: center;
    /* justify-content: center; */
   
}
.con132 h1{
    /* border: 2px solid black; */
    height: 70px;
    /* border-style: dashed; */
    border-right: 3px dashed black;
    margin-left: 45px;
    
    
    

}
.con132 p{
    
    margin-right: 10px;
    margin-left: 10px;
    color: gray;
    font-weight: 400;
    
    width: 300px;
}
.vi{
    margin-left: 40px;
    
}

.con13 .img1{
    background-color: url("./Select.png");
    background-size: cover;
}
.iphone{
    margin-top: 20px;
    
}
.ready{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.ready h3{
    font-weight: 600;

}
.check-icon{
    color: #2457c5;
}

.circle-icon{
    color: #62fc00;
    margin-right: 5px;
    margin-left: 5px;
   
}

.line1{
    border: 3px solid gray;
    background-color: gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.three-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 800px;
    margin-left: 300px;
}

.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    
    margin-left: 100px;
    margin-top: 50px;
}
.card1 h4{
    font-weight: 600;
}
.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    
    margin-left: 100px;
    margin-top: 50px;
}
.card2 h4{
    font-weight: 600;
}
.card3 h4{
    font-weight: 600;
}

.card2 p{
    font-weight: 900;
    color: gray;
}
.card3 p{
    font-weight: 900;
    color: gray;
}
.card1 p{
    font-weight: 900;
    color: gray;
}
.card3{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    
    margin-left: 100px;

}
.card1 p{
    margin-top: 20px;
    margin-left: 30px;
    /* border: 2px solid gray; */
    width: 150px;

}
.card2 p{
    margin-top: 30px;
    margin-left: 30px;
    
    width: 150px;

}
.card3 p{
    margin-top: 30px;
    margin-left: 30px;
    /* border: 2px solid gray; */
    width: 150px;

}
