.foot{
    background-color: black;
    color: white;
    height: 350vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
}
.who-are{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    height: 400px;
    
    width: 1000px;
}
.who-are p{
    margin-right: 200px;
    
    width: 900px;
    margin: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.who-are h1{
    font-weight: 800;
}
.line2{
    border: 2px solid #067c57;
    background-color: #067c57;
    width: 300px;
    margin-bottom: 100px;
    margin-top: 200px;
}

.who-are1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    height: 400px;
    
    width: 1000px;
}
.who-are1 p{
    margin-right: 200px;
    
    width: 900px;
    margin: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.who-are1 h1{
    font-weight: 800;
}
.line3{
    border: 2px solid #067c57;
    background-color: #067c57;
    width: 300px;
    margin-bottom: 136px;
}
.freq{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.freq h1{
    margin-right: 200px;
    font-size: 30px;
}
.languages{
    margin-left: 80px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
}
.about1{
    display: flex;
    align-items: center;
    margin-top: 50px;

}
.about1 h1{
    margin-right: 400px;
    font-size: 30px;
}
.under{
    border: 2px solid gray;
    background-color: gray;
    width: 1214px;
}


.about2{
    display: flex;
    align-items: center;
    margin-top: 50px;

}
.about2 h1{
    margin-right: 250px;
    font-size: 30px;
}
.under1{
    border: 2px solid gray;
    background-color: gray;
    width: 1214px;
}

.about3{
    display: flex;
    align-items: center;
    margin-top: 50px;
    

}
.about3 h1{
    margin-right: 250px;
    font-size: 30px;
}
.under3{
    border: 2px solid gray;
    background-color: gray;
    width: 1214px;
}
.liveasy{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.liveasy h1{
    margin-right: 400px;
    font-size: 40px;
}
.liveasy button{
    
    width: 300px;
    height: 70px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    background-color: #2b2b2b;
}

.footer-list{
    display: flex;
    align-items: center;
    margin-top: 50px;
   
    height: 300px;
    
}
/* .footer-list ul{
    margin-left: 100px;
    
    border: 2px solid red;
} */
ul li{
    list-style: none;
    
}
ul .ul1-li1 {
    font-size: 30px;
    
}
ul .ul2-li1 {
    font-size: 30px;
    
}
ul .ul3-li1 {
    font-size: 30px;
    
}
ul .ul4-li1 {
    font-size: 30px;
    
}
.ul1{
    width: 300px;
}
.ul2{
    width: 300px;
}
.ul3{
    width: 300px;
}
.ul4{
    width: 300px;
}
.last-line{
    border: 2px solid gray;
    width: 1000px;
    margin-top: 70px;
    background-color: gray;
}

.icons{
    margin-top: 20px;
}
.instagram{
    color: red;
    margin-right: 30px;
}
.linked{
    color: blue;
    margin-right: 30px;
}
.facebook{
    color: blue;
    margin-right: 30px;
}
.twitter{
    color: #03a9f4;
    margin-right: 30px;
}